/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sprite-1-name: 'sprite_1';
$sprite-1-x: 0px;
$sprite-1-y: 0px;
$sprite-1-offset-x: 0px;
$sprite-1-offset-y: 0px;
$sprite-1-width: 41px;
$sprite-1-height: 41px;
$sprite-1-total-width: 121px;
$sprite-1-total-height: 81px;
$sprite-1-image: '../img/sprite.png';
$sprite-1: (0px, 0px, 0px, 0px, 41px, 41px, 121px, 81px, '../img/sprite.png', 'sprite_1', );
$sprite-2-name: 'sprite_2';
$sprite-2-x: 0px;
$sprite-2-y: 41px;
$sprite-2-offset-x: 0px;
$sprite-2-offset-y: -41px;
$sprite-2-width: 40px;
$sprite-2-height: 40px;
$sprite-2-total-width: 121px;
$sprite-2-total-height: 81px;
$sprite-2-image: '../img/sprite.png';
$sprite-2: (0px, 41px, 0px, -41px, 40px, 40px, 121px, 81px, '../img/sprite.png', 'sprite_2', );
$sprite-3-name: 'sprite_3';
$sprite-3-x: 41px;
$sprite-3-y: 0px;
$sprite-3-offset-x: -41px;
$sprite-3-offset-y: 0px;
$sprite-3-width: 40px;
$sprite-3-height: 41px;
$sprite-3-total-width: 121px;
$sprite-3-total-height: 81px;
$sprite-3-image: '../img/sprite.png';
$sprite-3: (41px, 0px, -41px, 0px, 40px, 41px, 121px, 81px, '../img/sprite.png', 'sprite_3', );
$sprite-4-name: 'sprite_4';
$sprite-4-x: 81px;
$sprite-4-y: 0px;
$sprite-4-offset-x: -81px;
$sprite-4-offset-y: 0px;
$sprite-4-width: 40px;
$sprite-4-height: 41px;
$sprite-4-total-width: 121px;
$sprite-4-total-height: 81px;
$sprite-4-image: '../img/sprite.png';
$sprite-4: (81px, 0px, -81px, 0px, 40px, 41px, 121px, 81px, '../img/sprite.png', 'sprite_4', );
$spritesheet-width: 121px;
$spritesheet-height: 81px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($sprite-1, $sprite-2, $sprite-3, $sprite-4, );
$spritesheet: (121px, 81px, '../img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
