@font-face {
  font-family: 'Montserrat Bold';
  src: url("../../fonts/montserrat-bold-webfont.eot");
  src: url("../../fonts/montserrat-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/montserrat-bold-webfont.woff2") format("woff2"), url("../../fonts/montserrat-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat Regular';
  src: url("../../fonts/montserrat-regular-webfont.eot");
  src: url("../../fonts/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/montserrat-regular-webfont.woff2") format("woff2"), url("../../fonts/montserrat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Black';
  src: url("../../fonts/roboto-black-webfont.eot");
  src: url("../../fonts/roboto-black-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto-black-webfont.woff2") format("woff2"), url("../../fonts/roboto-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Black Italic';
  src: url("../../fonts/roboto-blackitalic-webfont.eot");
  src: url("../../fonts/roboto-blackitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto-blackitalic-webfont.woff2") format("woff2"), url("../../fonts/roboto-blackitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Bold';
  src: url("../../fonts/roboto-bold-webfont.eot");
  src: url("../../fonts/roboto-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto-bold-webfont.woff2") format("woff2"), url("../../fonts/roboto-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Bold Italic';
  src: url("../../fonts/roboto-bolditalic-webfont.eot");
  src: url("../../fonts/roboto-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto-bolditalic-webfont.woff2") format("woff2"), url("../../fonts/roboto-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Italic';
  src: url("../../fonts/roboto-italic-webfont.eot");
  src: url("../../fonts/roboto-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto-italic-webfont.woff2") format("woff2"), url("../../fonts/roboto-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Light';
  src: url("../../fonts/roboto-light-webfont.eot");
  src: url("../../fonts/roboto-light-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto-light-webfont.woff2") format("woff2"), url("../../fonts/roboto-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Light Italic';
  src: url("../../fonts/roboto-lightitalic-webfont.eot");
  src: url("../../fonts/roboto-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto-lightitalic-webfont.woff2") format("woff2"), url("../../fonts/roboto-lightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Medium';
  src: url("../../fonts/roboto-medium-webfont.eot");
  src: url("../../fonts/roboto-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto-medium-webfont.woff2") format("woff2"), url("../../fonts/roboto-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Medium Italic';
  src: url("../../fonts/roboto-mediumitalic-webfont.eot");
  src: url("../../fonts/roboto-mediumitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto-mediumitalic-webfont.woff2") format("woff2"), url("../../fonts/roboto-mediumitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Regular';
  src: url("../../fonts/roboto-regular-webfont.eot");
  src: url("../../fonts/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto-regular-webfont.woff2") format("woff2"), url("../../fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Thin';
  src: url("../../fonts/roboto-thin-webfont.eot");
  src: url("../../fonts/roboto-thin-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto-thin-webfont.woff2") format("woff2"), url("../../fonts/roboto-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Thin Italic';
  src: url("../../fonts/roboto-thinitalic-webfont.eot");
  src: url("../../fonts/roboto-thinitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto-thinitalic-webfont.woff2") format("woff2"), url("../../fonts/roboto-thinitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
/*WRAPPER*/
.wrapper {
  width: 320px;
  margin: 0 auto;
  position: relative; }

/*HEADER*/
header {
  width: 100%;
  height: 540px;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  box-sizing: border-box;
  background: url("../img/header_1440.jpg") center no-repeat;
  background-size: cover;
  background-color: transparent; }
  header:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0; }
  header .header__home {
    position: absolute;
    top: 173px;
    left: 70px; }
    header .header__home-title {
      display: inline-block;
      text-decoration: none;
      color: #fff;
      font-size: 20px;
      font-family: "Montserrat Bold", Arial, sans-serif;
      cursor: pointer;
      -webkit-transition: all 0.5s ease-out;
      -moz-transition: all 0.5s ease-out;
      -o-transition: all 0.5s ease-out;
      transition: all 0.5s ease-out;
      letter-spacing: 1px; }
      header .header__home-title:hover {
        color: #ff4e50;
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out; }
  header .header__nav {
    position: absolute;
    top: 20px;
    left: 70px; }
    header .header__nav-link {
      display: inline-block;
      text-decoration: none;
      color: #fff;
      font-size: 13px;
      font-family: "Montserrat Bold", Arial, sans-serif;
      cursor: pointer;
      -webkit-transition: all 0.5s ease-out;
      -moz-transition: all 0.5s ease-out;
      -o-transition: all 0.5s ease-out;
      transition: all 0.5s ease-out;
      padding: 10px 17px; }
      header .header__nav-link:hover {
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
        color: #ff4e50; }
    header .header__nav-link--border {
      border: 2px solid #fff;
      border-radius: 20px;
      margin-right: 16px; }
      header .header__nav-link--border:hover {
        border: 2px solid #ff4e50; }
    header .header__nav:after {
      visibility: hidden;
      display: block;
      content: "";
      clear: both;
      height: 0; }
  header .header__box {
    width: 100%;
    position: relative;
    top: 227px; }
    header .header__box-title-1 {
      color: #fff;
      font-size: 30px;
      font-family: "Montserrat Bold", Arial, sans-serif;
      text-align: center; }
    header .header__box-title--bottom {
      margin: 5px; }
    header .header__box-subtitle {
      margin-top: 14px;
      text-align: center; }
      header .header__box-subtitle-1 {
        color: #fff;
        font-size: 18px;
        font-family: "Montserrat Bold", Arial, sans-serif;
        text-align: center;
        font-family: "Roboto Light", Arial, sans-serif; }
    header .header__box-button {
      position: absolute;
      top: 135px;
      left: 20px;
      background-color: #ff4e50;
      border-radius: 20px;
      border: 1px solid #ff4e50; }
      header .header__box-button-1 {
        display: inline-block;
        text-decoration: none;
        color: #fff;
        font-size: 14px;
        font-family: "Montserrat Bold", Arial, sans-serif;
        cursor: pointer;
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
        border-radius: 20px;
        padding: 12px 50px; }
        header .header__box-button-1:hover {
          -webkit-transition: all 0.5s ease-out;
          -moz-transition: all 0.5s ease-out;
          -o-transition: all 0.5s ease-out;
          transition: all 0.5s ease-out;
          color: #ff4e50;
          background-color: #fff;
          border-radius: 20px; }

/*SLIDER*/
section {
  width: 100%;
  height: 830px;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  box-sizing: border-box; }
  section:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0; }
  section .section__main-title {
    color: #fff;
    font-size: 22px;
    font-family: "Montserrat Bold", Arial, sans-serif;
    text-align: center;
    color: #282828;
    margin: 38px 0 16px; }
  section .slider__img {
    position: relative;
    margin: 0 auto;
    width: 301px;
    height: 240px;
    background-size: cover;
    border-radius: 5px; }
  section .slider__content {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 70px 21px 12px 21px;
    background-color: transparent;
    overflow: hidden; }
    section .slider__content-button {
      display: inline-block;
      text-decoration: none;
      color: #fff;
      font-size: 10px;
      font-family: "Montserrat Regular";
      cursor: pointer;
      -webkit-transition: all 0.5s ease-out;
      -moz-transition: all 0.5s ease-out;
      -o-transition: all 0.5s ease-out;
      transition: all 0.5s ease-out;
      padding: 4px 13px;
      margin-bottom: 17px;
      background-color: #ff4e50;
      border-radius: 20px;
      border: 1px solid #ff4e50;
      letter-spacing: 2px; }
      section .slider__content-button:hover {
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
        color: #ff4e50;
        background-color: #fff;
        border: 1px solid #ff4e50;
        border-radius: 20px; }
    section .slider__content-title {
      color: #fff;
      font-size: 24px;
      font-family: "Montserrat Bold", Arial, sans-serif;
      text-align: center;
      display: block;
      text-decoration: none;
      margin-bottom: 6px;
      text-align: left; }
    section .slider__content-text {
      color: #fff;
      font-size: 14px;
      font-family: "Montserrat Bold", Arial, sans-serif;
      text-align: center;
      overflow: hidden;
      height: 55px;
      font-family: "Roboto Light", Arial, sans-serif;
      margin-top: 11px;
      text-align: left;
      line-height: 18px; }
  section #sliderSecond {
    margin-top: 10px; }
    section #sliderSecond .slider__content--second {
      padding: 100px 21px 12px 21px; }
  section #sliderThird {
    margin-top: 10px; }

/*PARTNERS BLOCK*/
.sectionPartners {
  width: 100%;
  height: 1090px;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  box-sizing: border-box; }
  .sectionPartners:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0; }
  .sectionPartners__box {
    height: 950px;
    overflow: hidden; }
  .sectionPartners__main-title {
    color: #fff;
    font-size: 22px;
    font-family: "Montserrat Bold", Arial, sans-serif;
    text-align: center;
    width: 95%;
    margin: 0 auto;
    padding: 24px 6px 7px 0px;
    color: #282828; }
  .sectionPartners__block {
    width: 100%;
    height: 220px;
    text-align: center; }
    .sectionPartners__block .sectionPartners__img {
      -webkit-transition: all 0.5s ease-out;
      -moz-transition: all 0.5s ease-out;
      -o-transition: all 0.5s ease-out;
      transition: all 0.5s ease-out;
      padding-top: 10px;
      position: relative; }
      .sectionPartners__block .sectionPartners__img:hover {
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
        -o-transform: translateX(20px);
        -ms-transform: translateX(20px);
        -moz-transform: translateX(20px);
        -webkit-transform: translateX(20px);
        transform: translateX(20px); }
    .sectionPartners__block .sectionPartners__img--1 {
      padding-top: 19px; }
    .sectionPartners__block .sectionPartners__img--2 {
      padding-top: 61px; }
    .sectionPartners__block .sectionPartners__img--3 {
      padding-top: 71px; }
    .sectionPartners__block .icon-sprite_1 {
      background-image: url(../img/sprite.png);
      background-position: 0px 0px;
      width: 41px;
      height: 41px;
      position: absolute;
      top: 171px;
      left: 184px; }
    .sectionPartners__block .icon-sprite_2 {
      background-image: url(../img/sprite.png);
      background-position: 0px -41px;
      width: 40px;
      height: 40px;
      position: absolute;
      top: 400px;
      left: 184px; }
    .sectionPartners__block .icon-sprite_3 {
      background-image: url(../img/sprite.png);
      background-position: -41px 0px;
      width: 40px;
      height: 41px;
      position: absolute;
      top: 662px;
      left: 184px; }
    .sectionPartners__block .icon-sprite_4 {
      background-image: url(../img/sprite.png);
      background-position: -81px 0px;
      width: 40px;
      height: 41px;
      position: absolute;
      top: 891px;
      left: 184px; }
    .sectionPartners__block .sectionPartners__caption {
      padding-top: 18px;
      font-size: 14px;
      font-family: "Montserrat Bold", Arial, sans-serif; }
    .sectionPartners__block .sectionPartners__link {
      text-decoration: none;
      color: #282828; }
    .sectionPartners__block .sectionPartners__text {
      width: 68%;
      line-height: 16px;
      margin: 0 auto;
      padding-top: 15px;
      font-size: 14px;
      font-family: "Roboto Light", Arial, sans-serif; }
  .sectionPartners__button {
    text-align: center;
    padding-top: 11px; }
    .sectionPartners__button-1 {
      display: inline-block;
      text-decoration: none;
      color: #ff4e50;
      font-size: 14px;
      font-family: "Montserrat Bold", Arial, sans-serif;
      cursor: pointer;
      -webkit-transition: all 0.5s ease-out;
      -moz-transition: all 0.5s ease-out;
      -o-transition: all 0.5s ease-out;
      transition: all 0.5s ease-out;
      border-radius: 20px;
      border: 2px solid #ff4e50;
      padding: 11px 72px; }
      .sectionPartners__button-1:hover {
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
        background-color: #ff4e50;
        color: #fff; }

/*GRID BLOCK*/
.bar {
  width: 100%;
  height: 995px;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  box-sizing: border-box; }
  .bar:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0; }
  .bar__main-title {
    color: #fff;
    font-size: 22px;
    font-family: "Montserrat Bold", Arial, sans-serif;
    text-align: center;
    width: 95%;
    margin: 0 auto;
    padding: 24px 0px 9px 0px;
    color: #282828; }
  .bar .grid {
    float: left;
    width: 320px;
    margin: 0px auto; }
    .bar .grid div {
      -webkit-transition: all 0.5s ease-out;
      -moz-transition: all 0.5s ease-out;
      -o-transition: all 0.5s ease-out;
      transition: all 0.5s ease-out;
      margin: 10px;
      width: 300px;
      height: 120px;
      border-radius: 5px;
      box-sizing: border-box;
      background-size: cover;
      background-position: center;
      position: relative;
      font: 18px "Montserrat Bold", Arial, sans-serif;
      text-align: center;
      line-height: 120px;
      color: #fff; }
      .bar .grid div:after {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 100%;
        border-radius: 5px;
        z-index: 9; }
      .bar .grid div:hover:after {
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
        background: rgba(241, 232, 232, 0.4); }

/*SEARCH BLOCK*/
.search {
  width: 100%;
  height: 257px;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  box-sizing: border-box; }
  .search:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0; }
  .search__main-title {
    color: #fff;
    font-size: 22px;
    font-family: "Montserrat Bold", Arial, sans-serif;
    text-align: center;
    width: 95%;
    margin: 0 auto;
    padding: 31px 2px 10px 0px;
    color: #282828; }
  .search__text {
    text-align: center;
    margin: 7px 0px 18px;
    font-size: 18px;
    font-family: "Roboto Light", Arial, sans-serif; }
  .search__input {
    display: block;
    width: 266px;
    height: 36px;
    margin: 0 auto;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    box-shadow: 2px 2px 5px 0px rgba(205, 205, 205, 0.53);
    padding-left: 15px;
    font-size: 14px;
    font-family: "Roboto Light", Arial, sans-serif;
    outline: none; }
  .search__button {
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    display: block;
    margin: 10px auto;
    width: 280px;
    height: 40px;
    border: 2px solid #ff4e50;
    color: #fff;
    background: #ff4e50;
    font-size: 14px;
    border-radius: 20px 20px;
    text-align: center;
    font-family: "Montserrat Bold", Arial, sans-serif;
    outline: none;
    cursor: pointer; }
    .search__button:hover {
      -webkit-transition: all 0.5s ease-out;
      -moz-transition: all 0.5s ease-out;
      -o-transition: all 0.5s ease-out;
      transition: all 0.5s ease-out;
      color: #ff4e50;
      background-color: #fff;
      border: 1px solid #ff4e50;
      border-radius: 20px; }

/*FOOTER*/
footer {
  width: 100%;
  height: 190px;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  box-sizing: border-box;
  border-top: 5px solid #ff4e50; }
  footer .footer__main-title {
    display: inline-block;
    text-decoration: none;
    color: #ff4e50;
    font-size: 16px;
    font-family: "Montserrat Bold", Arial, sans-serif;
    cursor: pointer;
    width: 100%;
    margin: 17px 0px 0px;
    text-align: center;
    letter-spacing: 1px; }
  footer .footerMenu {
    width: 100%; }
    footer .footerMenu__title {
      color: #fff;
      font-size: 14px;
      font-family: "Montserrat Bold", Arial, sans-serif;
      text-align: center;
      color: #282828;
      margin: 15px 14px 5px 13px; }
    footer .footerMenu__list {
      width: 67%;
      overflow: hidden;
      margin: 0 auto; }
    footer .footerMenu__link {
      display: inline-block;
      text-decoration: none;
      color: #282828;
      font-size: 14px;
      font-family: "Roboto Light", Arial, sans-serif;
      cursor: pointer;
      float: left;
      width: 25%;
      margin-right: 6px;
      text-align: center; }
      footer .footerMenu__link--modified {
        margin-right: -7px; }
      footer .footerMenu__link:hover {
        color: #ff4e50; }
  footer .footerBlock {
    width: 100%; }
    footer .footerBlock__title {
      color: #fff;
      font-size: 14px;
      font-family: "Montserrat Bold", Arial, sans-serif;
      text-align: center;
      color: #282828;
      margin: 17px 13px 8px 13px; }
  footer .footerLogo__title {
    color: #fff;
    font-size: 10px;
    font-family: "Montserrat Bold", Arial, sans-serif;
    text-align: center;
    color: #cdcdcd;
    margin: 8px 12px 5px 13px;
    letter-spacing: 1px; }
  footer .footerLogo__img {
    position: absolute;
    top: 26px;
    left: 106px;
    -webkit-animation: turn 2s infinite;
    animation: turn 2s infinite; }
  footer .footerLogo .front {
    z-index: 2;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }

@-webkit-keyframes turn {
  to {
    -webkit-transform: rotateY(360deg); } }

@keyframes turn {
  to {
    transform: rotateY(360deg); } }

@media only screen and (min-width: 768px) {
  /*WRAPPER*/
  .wrapper {
    width: 768px;
    margin: 0 auto;
    position: relative; }
  /*HEADER*/
  header {
    width: 100%;
    height: 700px;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    box-sizing: border-box;
    background-color: transparent; }
    header .header__home {
      position: absolute;
      top: 49px;
      left: 49px; }
    header .header__nav {
      position: absolute;
      top: 38px;
      left: 554px; }
    header .header__box {
      position: relative;
      top: 222px;
      left: -4px; }
      header .header__box-title-1 {
        font-size: 52px; }
      header .header__box-title--bottom {
        margin: 10px; }
      header .header__box-subtitle {
        margin: 30px 0px 0px 5px; }
        header .header__box-subtitle-1 {
          font-size: 24px;
          display: inline-block;
          font-family: "Roboto Light", Arial, sans-serif; }
      header .header__box-button {
        position: absolute;
        top: 204px;
        left: 274px; }
        header .header__box-button-1 {
          padding: 11px 23px; }
  /*SLIDER*/
  section {
    height: 600px; }
    section .section__main-title {
      margin: 97px 8px 35px 15px; }
    section .slider {
      width: 33.3%;
      float: left; }
      section .slider__img {
        width: 236px;
        height: 400px;
        margin: 0px 0px 0px 10px; }
      section .slider__content {
        padding: 213px 21px 12px 20px; }
        section .slider__content-text {
          height: 69px; }
    section #sliderFirst__left-button {
      position: absolute;
      top: 196px;
      left: 31px;
      width: 30px;
      height: 55px;
      background-image: url("../img/left_arrow.png");
      z-index: 1;
      opacity: 0.6;
      cursor: pointer; }
    section #sliderFirst__right-button {
      position: absolute;
      top: 196px;
      left: 195px;
      width: 30px;
      height: 55px;
      background-image: url("../img/right_arrow.png");
      z-index: 1;
      opacity: 0.6;
      cursor: pointer; }
    section #sliderFirst__left-button:hover {
      opacity: 1; }
    section #sliderFirst__right-button:hover {
      opacity: 1; }
    section #sliderSecond {
      margin-top: 0px; }
      section #sliderSecond .slider__content--second {
        padding: 260px 20px 0px 21px; }
      section #sliderSecond__left-button {
        position: absolute;
        top: 196px;
        left: 276px;
        width: 30px;
        height: 55px;
        background-image: url("../img/left_arrow.png");
        z-index: 1;
        opacity: 0.6;
        cursor: pointer; }
      section #sliderSecond__right-button {
        position: absolute;
        top: 196px;
        left: 460px;
        width: 30px;
        height: 55px;
        background-image: url("../img/right_arrow.png");
        z-index: 1;
        opacity: 0.6;
        cursor: pointer; }
      section #sliderSecond__left-button:hover {
        opacity: 1; }
      section #sliderSecond__right-button:hover {
        opacity: 1; }
    section #sliderThird {
      margin-top: 0px; }
      section #sliderThird__left-button {
        position: absolute;
        top: 196px;
        left: 543px;
        width: 30px;
        height: 55px;
        background-image: url("../img/left_arrow.png");
        z-index: 1;
        opacity: 0.6;
        cursor: pointer; }
      section #sliderThird__right-button {
        position: absolute;
        top: 196px;
        left: 708px;
        width: 30px;
        height: 55px;
        background-image: url("../img/right_arrow.png");
        z-index: 1;
        opacity: 0.6;
        cursor: pointer; }
      section #sliderThird__left-button:hover {
        opacity: 1; }
      section #sliderThird__right-button:hover {
        opacity: 1; }
  /*PARTNERS BLOCK*/
  .sectionPartners {
    height: 754px; }
    .sectionPartners__main-title {
      padding-top: 53px; }
    .sectionPartners__box {
      width: 75%;
      margin: 0 auto;
      height: 546px; }
    .sectionPartners__block {
      width: 50%;
      float: left; }
      .sectionPartners__block .sectionPartners__img {
        padding: 27px 0px 0px 35px; }
      .sectionPartners__block .sectionPartners__img--1 {
        padding: 27px 29px 0px 0px; }
      .sectionPartners__block .sectionPartners__img--2 {
        padding: 65px 0px 0px 35px; }
      .sectionPartners__block .sectionPartners__img--3 {
        padding: 66px 29px 0px 0px; }
      .sectionPartners__block .icon-sprite_1 {
        position: absolute;
        top: 193px;
        left: 280px; }
      .sectionPartners__block .icon-sprite_2 {
        background-image: url(../img/sprite.png);
        background-position: 0px -41px;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 193px;
        left: 537px; }
      .sectionPartners__block .icon-sprite_3 {
        background-image: url(../img/sprite.png);
        background-position: -41px 0px;
        width: 40px;
        height: 41px;
        position: absolute;
        top: 452px;
        left: 283px; }
      .sectionPartners__block .icon-sprite_4 {
        background-image: url(../img/sprite.png);
        background-position: -81px 0px;
        width: 40px;
        height: 41px;
        position: absolute;
        top: 452px;
        left: 539px; }
      .sectionPartners__block .sectionPartners__caption {
        padding-left: 33px; }
      .sectionPartners__block .sectionPartners__caption--title {
        padding-right: 60px; }
      .sectionPartners__block .sectionPartners__text {
        width: 80%;
        position: relative;
        left: 15px; }
      .sectionPartners__block .sectionPartners__text--left {
        left: -16px; }
    .sectionPartners__button-1 {
      padding: 11px 27px; }
  /*GRID BLOCK*/
  .bar {
    height: 1126px; }
    .bar__main-title {
      padding: 24px 0px 27px 0px; }
    .bar .grid {
      width: 944px; }
      .bar .grid div {
        float: left;
        width: 236px;
        height: 310px;
        background-position: center;
        line-height: 310px; }
      .bar .grid .grid__fat {
        width: 492px; }
  /*SEARCH BLOCK*/
  .search {
    height: 278px; }
    .search__main-title {
      padding: 25px 2px 10px 0px; }
    .search__text {
      margin: 24px 0px 30px; }
    .search__submit {
      width: 54%;
      margin: 10px auto; }
    .search__input {
      display: inline-block;
      width: 226px; }
    .search__button {
      display: inline-block;
      margin-left: 6px;
      width: 159px; }
  /*FOOTER*/
  footer .footer__main-title {
    float: left;
    width: 20%;
    height: 100%;
    padding: 20px 38px 0px;
    box-sizing: border-box; }
  footer .footerMenu {
    float: left;
    width: 25%;
    height: 100%;
    box-sizing: border-box; }
    footer .footerMenu__title {
      padding: 24px 0px 5px 99px; }
    footer .footerMenu__list {
      width: 54%;
      line-height: 24px;
      padding: 0px 0px 0px 112px; }
    footer .footerMenu__link {
      float: none; }
  footer .footerBlock {
    float: left;
    width: 25%;
    height: 100%;
    box-sizing: border-box; }
    footer .footerBlock__title {
      padding: 22px 0px 0px 57px; }
  footer .footerLogo {
    float: left;
    width: 25%;
    height: 100%; }
    footer .footerLogo__title {
      margin: 39px -111px 5px 0px; }
    footer .footerLogo__img {
      position: absolute;
      top: 57px;
      left: 81px; } }

@media only screen and (min-width: 1440px) {
  /*WRAPPER*/
  .wrapper {
    width: 960px;
    margin: 0 auto;
    position: relative; }
  /*HEADER*/
  header {
    width: 100%;
    height: 700px;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    box-sizing: border-box;
    background-color: transparent; }
    header .header__home {
      left: 11px; }
    header .header__nav {
      left: 778px; }
    header .header__box-button {
      position: absolute;
      top: 206px;
      left: 372px; }
  /*SLIDER*/
  section {
    height: 615px; }
    section .section__main-title {
      margin: 97px 8px 35px 7px; }
    section .slider__img {
      margin: 0 auto;
      width: 300px; }
    section .slider__content {
      padding: 231px 21px 12px 20px; }
      section .slider__content-text {
        height: 69px; }
    section #sliderFirst__left-button {
      position: absolute;
      top: 309px;
      left: 31px;
      width: 30px;
      height: 55px;
      background-image: url("../img/left_arrow.png");
      z-index: 1;
      opacity: 0.6; }
    section #sliderFirst__right-button {
      position: absolute;
      top: 309px;
      left: 258px;
      width: 30px;
      height: 55px;
      background-image: url("../img/right_arrow.png");
      z-index: 1;
      opacity: 0.6; }
    section #sliderFirst__left-button:hover {
      opacity: 1; }
    section #sliderFirst__right-button:hover {
      opacity: 1; }
    section #sliderSecond .slider__content--second {
      padding: 260px 20px 0px 21px; }
    section #sliderSecond__left-button {
      position: absolute;
      top: 309px;
      left: 349px;
      width: 30px;
      height: 55px;
      background-image: url("../img/left_arrow.png");
      z-index: 1;
      opacity: 0.6; }
    section #sliderSecond__right-button {
      position: absolute;
      top: 309px;
      left: 579px;
      width: 30px;
      height: 55px;
      background-image: url("../img/right_arrow.png");
      z-index: 1;
      opacity: 0.6; }
    section #sliderSecond__left-button:hover {
      opacity: 1; }
    section #sliderSecond__right-button:hover {
      opacity: 1; }
    section #sliderThird__left-button {
      position: absolute;
      top: 309px;
      left: 670px;
      width: 30px;
      height: 55px;
      background-image: url("../img/left_arrow.png");
      z-index: 1;
      opacity: 0.6; }
    section #sliderThird__right-button {
      position: absolute;
      top: 309px;
      left: 898px;
      width: 30px;
      height: 55px;
      background-image: url("../img/right_arrow.png");
      z-index: 1;
      opacity: 0.6; }
    section #sliderThird__left-button:hover {
      opacity: 1; }
    section #sliderThird__right-button:hover {
      opacity: 1; }
  /*PARTNERS BLOCK*/
  .sectionPartners {
    height: 482px; }
    .sectionPartners__main-title {
      padding-top: 38px; }
    .sectionPartners__box {
      width: 100%;
      height: 289px; }
    .sectionPartners__block {
      width: 25%; }
      .sectionPartners__block .sectionPartners__img {
        padding: 26px 0px 0px 2px; }
      .sectionPartners__block .sectionPartners__img--1 {
        padding: 27px 0px 0px 0px; }
      .sectionPartners__block .sectionPartners__img--2 {
        padding: 27px 0px 0px 2px; }
      .sectionPartners__block .sectionPartners__img--3 {
        padding: 28px 0px 0px 0px; }
      .sectionPartners__block .icon-sprite_1 {
        position: absolute;
        top: 179px;
        left: 145px; }
      .sectionPartners__block .icon-sprite_2 {
        background-image: url(../img/sprite.png);
        background-position: 0px -41px;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 179px;
        left: 386px; }
      .sectionPartners__block .icon-sprite_3 {
        background-image: url(../img/sprite.png);
        background-position: -41px 0px;
        width: 40px;
        height: 41px;
        position: absolute;
        top: 179px;
        left: 626px; }
      .sectionPartners__block .icon-sprite_4 {
        background-image: url(../img/sprite.png);
        background-position: -81px 0px;
        width: 40px;
        height: 41px;
        position: absolute;
        top: 179px;
        left: 866px; }
      .sectionPartners__block .sectionPartners__caption {
        padding-left: 2px; }
      .sectionPartners__block .sectionPartners__caption--title {
        padding-right: 1px; }
      .sectionPartners__block .sectionPartners__text {
        width: 95%;
        position: relative;
        left: 5px; }
      .sectionPartners__block .sectionPartners__text--left {
        left: 5px; }
    .sectionPartners__button-1 {
      padding: 11px 27px; }
  /*GRID BLOCK*/
  .bar .grid {
    width: 960px; }
    .bar .grid div {
      float: left;
      width: 300px; }
    .bar .grid .grid__fat {
      float: left;
      width: 620px; }
  /*SEARCH BLOCK*/
  .search__submit {
    width: 43%; }
  .search__main-title {
    padding: 24px 2px 10px 0px; }
  /*FOOTER*/
  footer .footer__main-title {
    width: 20%;
    padding: 20px 25px 0px 0px; }
  footer .footerMenu {
    width: 15%; }
    footer .footerMenu__title {
      padding: 24px 0px 5px 46px; }
    footer .footerMenu__list {
      padding: 0px 0px 0px 53px; }
    footer .footerMenu__link {
      float: none; }
  footer .footerBlock {
    width: 15%; }
    footer .footerBlock__title {
      padding: 22px 0px 0px 62px; }
  footer .footerLogo {
    width: 50%; }
    footer .footerLogo__title {
      margin: 39px -384px 5px 0px; }
    footer .footerLogo__img {
      position: absolute;
      top: 57px;
      left: 361px; } }
